<meta charset="UTF-8">
{% extends "base.html" %}

{% block title %}登入介面{% endblock title %}
{% block content %}
    <div style="height: 50px;">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <form method="POST">
        <h1 class='page-title mt-4' style="text-align: center;">登入</h1>
        <div class="form-group col-xl-5 col-md-6" style="margin: 15px auto">
            {{ form.hidden_tag() }}
            {{ form.account.label }} 
            {{ form.account(class="form-control", id="signInAccountField") }}
            {{ form.password.label }}
            {{ form.password(class="form-control", id="signInPasswordField") }}
        </div>
        <div id="signInConnects" style="text-align: center;">
            <div class="container">
                <a class="ml-4" href="/signup">註冊</a><span class="container"> | </span><a href="/forgotpassword">忘記密碼</a>
            </div>
            <br/>
            {{ form.submit(class="btn btn-primary", id="signInSubmit") }}
        </div>
    </form>
{% endblock content %}

{% block custom_script %}
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 2000);
</script>
{% endblock %}