{% extends "base.html" %}
{% block title %} 預約輪值 {% endblock title %}

{% block head %}
    {{ super() }}
    <style type="text/css">

    td.past-month {
        color: #bbb;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #909090;
    }

    #cal table {
        margin: 0 10%;
        width: 80%;
        height: 80%;
    }

    #cal h1 {
        background-color: #fff;
        padding: 3px;
    }

    </style>
{% endblock head %}

{% block content %}
    <div id="cal" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        {% for month in cal %}
        {% set current_month = loop.index %}
        <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
            <h1>{{ ['January', 'Febuary', 'March', 'April',
                    'May', 'June', 'July', 'August',
                    'September', 'October', 'November', 'December'][loop.index0] }} {{ year }}</h1>
            <table>
                {% for week in month %}
                <tr>
                    {% for date in week %}
                        {% if date.month == current_month %}
                        <td class="current-month">
                        {% else %}
                        <td class="past-month">
                        {% endif %}
                        {{ date.day }}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        <a class="carousel-control-prev" href="#cal" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#cal" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock content %}