{% extends "base.html" %}
{% block title %} 預約輪值 {% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <div id="cal" class="carousel mx-auto" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            {% for year in cal %}
                {% set current_year = today_year + loop.index0 %}
                {% for month in year %}
                    {% set current_month = loop.index %}
                    <div class="carousel-item {% if loop.index == 1 and current_year == today_year %}active{% endif %}">
                        <div class="calendar-top mb-4 d-flex justify-content-between">
                            <h3>{{ current_year }} {{ ['一月', '二月', '三月', '四月',
                                    '五月', '六月', '七月', '八月',
                                    '九月', '十月', '十一月', '十二月'][loop.index0] }}
                            </h3>
                            <h3>預約輪值</h3>
                            <div class="btn-group">
                                <button class="btn btn-primary" onclick="$('.carousel').carousel('prev');">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                                <button class="btn btn-primary" onclick="$('.carousel').carousel('next');">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <table class="calendar table-bordered">
                            {% for week in month %}
                            <tr>
                                {% for date in week %}                 
                                    {% if date.month == current_month %}
                                    <td class="current-month">
                                    {% else %}
                                    <td class="past-month">
                                    {% endif %}
                                        <a href="#" class="reserve-link" data-year="{{date.year}}" data-month="{{date.month}}" data-day="{{date.day}}">
                                            {{ date.day }}
                                            <div class="reserve-status">
                                                <span class="dot dot-success"></span>
                                                <span class="dot dot-danger"></span>
                                                <span class="dot dot-success"></span>
                                                <span class="dot dot-success"></span>
                                                <span class="dot dot-danger"></span>
                                            </div>
                                        </a>
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- Reserve Modal -->
    <div class="modal fade" id="reserveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="reserveModalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="reserveForm" class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.year }}
                    {{ form.month }}
                    {{ form.day }}
                    {{ form.period.label }}
                    {{ form.period(class="form-control", id="peroid") }}
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            <button id="submitReserve" type="submit" form="reserveForm" class="btn btn-primary">確認預約</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Ok Modal -->
    <div class="modal fade" id="okModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="okModalTitle">完成預約</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>成功預約!</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}

{% block custom_script %}
    <script>
        $('#cal').on('click', '.reserve-link', function(){
            var year = $(this).data('year');
            var month = $(this).data('month');
            var day = $(this).data('day');
            $("#year").val(year);
            $("#month").val(month);
            $("#day").val(day);
            $('#reserveModal').modal('show'); //顯示編輯畫面
            $('#reserveModalTitle').text(`${year}年${month}月${day}日`);
        });

        $('#reserveForm').submit(function(event){
            event.preventDefault(event);
            var year = $(this).data('year');
            var month = $(this).data('month');
            var day = $(this).data('day');
            $.ajax({
                type: 'POST',   
                url: '/book',
                data: $('#reserveForm').serialize()
            }).done(function(value) {
                $('#reserveModal').modal('hide');
                $('#okModal').modal('show');
            });
        });
    </script>
{% endblock custom_script %}