{% extends "base.html" %}
{% block title %} 聯絡我們 {% endblock title %}
{% block content %}
     <form method="POST">
        <h1 class='page-title mt-5' style="text-align: center;">聯絡我們</h1>
        <div class="form-group col-xl-5 col-md-6 mb-4 text-center" style="margin: 20px auto">
        	{{ form.hidden_tag() }}
            {{ form.topic.label }} 
            {{ form.topic(class="form-control", id="contactTopicField") }}

            {{ form.email.label }}
            {{ form.email(class="form-control", id="contactEmailField") }}

            {{ form.content.label }}
            {{ form.content(class="form-control", id="contactContentField") }}

        <div>

        <div id="contactConnects" class="mb-4 text-center" >
        
            {{ form.submit(class="btn btn-primary", id="contactSubmit") }}
            <br>
        </div>

    </form>
{% endblock content %}