{% extends "base.html" %}
{% block title %} 個人主頁 {% endblock title %}
{% block content %}
    <h2>本學期輪值狀態</h2>
    {% for arr_info in arrangements_info %}
    <div class="card mt-5">
        <h5 class="card-header">{{ arr_info['date'] }} {{ arr_info['period'] }}</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <p class="card-text">工作內容: {{ arr_info['content'] }}</p>
                    <p class="card-text">{{ arr_info['explanation'] }}</p>
                    {% if arr_info['state'] == 'RESERVED' %}
                        <a href="mailto:fjulislibrary@gmail.com" target="_blank" class="btn btn-primary stick-bottom">申請修改</a>
                    {% endif %}    
                </div>
                
                {% if arr_info['state'] == 'RESERVED' %}
                    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                        <i class="far fa-calendar-check fa-5x text-info"></i>
                        <p class="text-secondary mt-3">已預約</p>
                    </div>
                {% elif arr_info['state'] == 'DONE' %}
                    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                        <i class="fas fa-check-circle fa-5x text-success"></i>
                        <p class="text-secondary mt-3">已完成</p>
                    </div>
                {% elif arr_info['state'] == 'NOT_CHECKOUT' %}
                    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                        <i class="far fa-clock fa-5x text-warning"></i>
                        <p class="text-secondary mt-3">尚未簽退</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}