{% extends "base.html" %}
{% block title %} 個人主頁 {% endblock title %}
{% block content %}
    <h2>本學期輪值狀態</h2>
    <div class="card mt-5">
        <h5 class="card-header">2020/10/30 早上08:00 ~ 10:00</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <p class="card-text">工作內容: 掃地、拖地</p>
                    <p class="card-text">也許詳細你能一笑手冊家人興奮希望性格演出，費用作用這是是以，不滿同意台中關注財產眼淚取消我把請點擊主機然後失望會員價，來電成功馬上比賽真是範圍動畫怎麼辦意見顯示因而如何，知識有一。</p>
                    <a href="#" class="btn btn-primary stick-bottom">申請修改</a>
                </div>

                <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                    <i class="far fa-calendar-check fa-5x text-warning"></i>
                    <p class="text-secondary mt-3">已預約</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mt-5">
        <h5 class="card-header">2020/10/20 早上08:00 ~ 10:00</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <p class="card-text">工作內容: 掃地、拖地</p>
                    <p class="card-text">也許詳細你能一笑手冊家人興奮希望性格演出，費用作用這是是以，不滿同意台中關注財產眼淚取消我把請點擊主機然後失望會員價，來電成功馬上比賽真是範圍動畫怎麼辦意見顯示因而如何，知識有一。</p>
                    <!-- <a href="#" class="btn btn-primary stick-bottom">申請修改</a> -->
                </div>

                <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                    <i class="fas fa-check-circle fa-5x text-success"></i>
                    <p class="text-secondary mt-3">已完成</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}