<meta charset="UTF-8">
{% extends "base.html" %}
{% block title %}

	{{news_content.title}}

{% endblock %}

{% block content %}

	<h1 class='page-title mt-5 text-center'>{{ news_content.title}}</h1>
	<div class="col-lg-8 col-md-10 mx-auto">
		<div class="form-group">
			<table class="table table-bordered" style="margin-top: 0px;">
				<thead>
					<tr>
						<td><i class="fas fa-clock"></i> 發布時間 : {{ (news_content.dateTime | string)[:16] }}</td>
					</tr>
					<tr>
						<th scope="col">內容</th>
					</tr>
				</thead>
				<tr>
					<div>
						<td style="white-space: pre-line">{{ news_content.content}}</td>
					</div>
				</tr>
			</table>
		</div>
	</div>
   	<div class="mb-4 text-center">
   		<button class="btn btn-primary"><a class="text-white" href="../news">回上頁</a></button>
	</div>

{% endblock %}