/* 避免sticky navbar 覆蓋到內容 */
body {
    padding-top: 70px;
}

body,input,button,select,textarea{
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", sans-serif;
}


/* 讓footer可以正常出現在下方 */
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 60px;
}

.footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
  }

.footer_text{
    font-size: 0.9rem;
    margin: 0;
}
.sirla_link { 
    color: inherit; 
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .md-break { display: none; }
}
/* small triangle of dropdown menu */
/* 邊框 */
.dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.5);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
}
/* 本體 */
.dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
}
/* 正常顯示的位置在右上角 */
@media only screen and (min-width: 768px) {
    .dropdown-menu::before{
        right: 10px;
        top: -8px;
    }
    .dropdown-menu::after{
        right: 10px;
        top: -7px;
    }
}
/* collapse之後顯示在左上角 */
@media only screen and (max-width: 768px) {
    .dropdown-menu::before{
        left: 10px;
        top: 34px;
    }
    .dropdown-menu::after{
        left: 10px;
        top: 35px;
    }
}