@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

/* 避免sticky navbar 覆蓋到內容 */
body {
    padding-top: 70px;
}

body, input, button, select, textarea{
    font-family: "Noto Sans TC", "微軟正黑體", "Helvetica Neue", Helvetica, Arial, "微软雅黑", sans-serif;
}


/* 讓footer可以正常出現在下方 */
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main { flex: 1; }

.footer_text{
    font-size: 0.9rem;
    margin: 0;
}
.sirla_link { 
    color: inherit; 
    text-decoration: underline;
}

/* small triangle of dropdown menu */
/* 邊框 */
.dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.5);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
}
/* 本體 */
.dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
}
/* 正常顯示的位置在右上角 */
@media only screen and (min-width: 768px) {
    .dropdown-menu::before{
        right: 10px;
        top: -8px;
    }
    .dropdown-menu::after{
        right: 10px;
        top: -7px;
    }
}
/* collapse之後顯示在左上角 */
@media only screen and (max-width: 768px) {
    .dropdown-menu::before{
        left: 10px;
        top: 34px;
    }
    .dropdown-menu::after{
        left: 10px;
        top: 35px;
    }
}

/* navbar dropdown submenu */
.dropdown-submenu:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu > ul.dropdown-menu::after,
.dropdown-submenu > ul.dropdown-menu::before {
    display: none;
}

/* 預約表單 */
td.past-month {
    color: #bbb;
}

#cal {
    max-width: 800px;
}

.carousel-inner,
.carousel-item {
    height: 100%;
}

#cal table {
    width: 100%;
    height: 430px;
    text-align: right;
}

#cal table tr {
    vertical-align: top;
}

#cal table td {
    width: 10px;
}

#cal h1 {
    background-color: #fff;
    text-align: center;
}

#cal .calendar-top {
    height: 40px;
}

.reserve-link {
    padding: 8px;
    display: block;
    text-decoration: none;
    height: 100%;
    color: inherit;
    border: solid 2px transparent;
}

.reserve-link:hover {
    text-decoration: none;
    color: inherit;
    border: solid 2px #007BFF;
}

.reserve-status {
    margin-top: 15px;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    border-radius: 100%;
}

.dot-success {
    background-color: #28A745;
}

.dot-danger {
    background-color: #DC3545;
}

.stick-bottom {
    position: absolute;
    bottom: 0;
}