<meta charset="UTF-8">
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="../../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        LIS輪值系統
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.index') }}">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.news') }}">最新消息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">操作手冊</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle text-light pl-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_user.name }}
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('user.dashboard') }}"><h5 class="font-weight-bolder mb-0">{{ current_user.name }}</h5></a></li>
                    <li><a class="dropdown-item small" href="{{ url_for('user.dashboard') }}">Admin</a></li>
                    <div class="dropdown-divider"></div>
                    <li class="dropdown-submenu dropleft">
                        <a class="dropdown-item dropdown-toggle" href="#">管理</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('admin.add_user') }}">學生資料</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.book_management') }}" role="button">管理預約</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.news_management', page=1) }}">最新消息</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.duty_management') }}">工作內容</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.manage_date') }}">新增假期</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.add_semester') }}">新增學期</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('admin.download') }}">輪值狀況</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('admin.check_in_out') }}">簽到/簽退</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}" role="button">登出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</ul>
</nav>