{% extends "base.html" %}
{% block title %} 學生資料管理 {% endblock title %}
{% block content %}
     <form method="POST" enctype="multipart/form-data" action="{{ url_for('admin.batch_add_user') }}">
         <div>
           <a href="{{ url_for('admin.add_user') }}">單筆新增</a>|<span>批次新增</span>|<a href="{{ url_for('admin.del_user') }}">單筆刪除</a>
        </div>
        <h1 class='page-title mt-5 text-center'>批次新增 學生資料</h1>
        <div class="form-group col-xl-5 col-md-6 mt-5 mx-auto text-center" >
                {{ form.hidden_tag() }}
                {{form.file.lable}}
                {{ form.file(class="form-control", id="fileField") }}
            <div id="Submit" class="mb-4 text-center">
                {{ form.submit(class="btn btn-primary", id="Submit") }}
            </div>
            
        </div>

        
    </form>
{% endblock content %}