{% extends "base.html" %}
{% block title %} 學生資料管理 {% endblock title %}
{% block content %}
     <form method="POST">
        <div>
            <span>單筆新增</span>|<a href="{{ url_for('admin.batch_add_user') }}">批次新增</a>|<a href="{{ url_for('admin.del_user') }}">批次刪除</a>
        </div>
        <h1 class='page-title mt-5 text-center'>新增 學生資料</h1>
        <div class="form-group col-xl-5 col-md-6 mt-5 mx-auto text-center" >
            {{ form.hidden_tag() }}
        	{{ form.name.label}}
        	{{ form.name(class="form-control", id="nameField") }}

            {{ form.id.label }}
            {{ form.id(class="form-control", id="idField") }}

            {{ form.email.label }}
            {{ form.email(class="form-control", id="emailField") }}
        </div>

        <div id="Submit" class="mb-4 text-center">
            {{ form.submit(class="btn btn-primary", id="Submit") }}
        </div>
    </form>
{% endblock content %}