<meta charset="UTF-8">
{% extends "base.html" %}
{% block title %} 工作內容管理 {% endblock title %}
{% block content %}
     <form method="POST">
        <h1 class='page-title mt-5 text-center'>工作內容管理</h1>
        <div class="form-group  text-center" >
        	<table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">時段</th>
                        <th scope="col">工作內容</th>
                        <th scope="col">工作內容說明</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for duty in duties %}
                    <tr>
                        <th scope="row">{{ duty.period }}</th>
                        <td>{{ duty.content }}</td>
                        <td>{{ duty.explanation }}</td>
                        <td><button class="btn btn-primary "><a class="text-white" href="{{ url_for('admin.edit_duty', id=duty.id) }}">修改</a></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </form>
{% endblock content %}