<meta charset="UTF-8">
{% extends "base.html" %}
{% block title %} 忘記密碼 {% endblock title %}
{% block content %}
    <form method="POST">
        <h1 class='page-title mt-5 text-center'>忘記密碼</h1>
        <div class="form-group col-xl-5 col-md-6 mt-5 mx-auto text-center" >
            {{ form.hidden_tag() }}
            {{ form.student_id.label}}
            {{ form.student_id(class="form-control", id="student_idField") }}
        </div>

        <div id="Submit" class="mb-4 text-center">
            {{ form.submit(class="btn btn-primary", id="Submit") }}
        </div>
    </form>
{% endblock content %}