{% extends "base.html" %}
{% block title %} 最新消息總覽 {% endblock title %}
{% block content %}
     <form method="POST">
        <h1 class='page-title mt-5 text-center'>最新消息總覽</h1>
        <div class="form-group text-center">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col md-3">標題</th>
                  <th scope="col md-3">發布時間</th>
                  <th scope="col md-3">修改</th>
                  <th scope="col md-3">刪除</th>
                </tr>
              </thead>
              <tbody>
                {% for single_news in news.items %}
                <tr>
                  <th scope="row">{{ single_news.title }}</th>
                  <td>{{ single_news.postTime }}</td>
                  <td><button class="btn btn-primary"><a class="text-white" href="{{ url_for('admin.edit_news', id=single_news.id) }}">修改</a></button></td>
                  <td><button class="btn btn-primary"><a class="text-white" href="{{ url_for('admin.delete_news', id=single_news.id) }}">刪除</a></button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div id="Submit" class="mb-4 text-center">
                <button class="btn btn-primary"><a class="text-white" href="{{ url_for('admin.add_news') }}">+ 新增</a></button>
            </div>
        </div>

        <!---  分頁功能  --->
        <nav aria-label="Page navigation" class="post-paginate">
          <ul class="pagination justify-content-center">
            {% if news.has_prev %}
              <li class="page-item">
                <a class="page-link" tabindex="-1" href="{{ url_for('admin.news_management',page=news.prev_num) }}">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><span aria-hidden="true">Previous</span></a>
              </li>
            {% endif %}
            

            {% for page in news.iter_pages() %}
              {% if page %}
                {% if page != news.page %}
                  <li class="page-item">
                    <a class="page-link" tabindex="-1" href="{{ url_for('admin.news_management', page=page) }}">{{ page }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" tabindex="-1" href="#">{{ page }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}

            
            {% if news.has_next %}
              <li class="page-item">
                <a class="page-link" tabindex="-1" href="{{ url_for('admin.news_management', page=news.next_num) }}">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><span aria-hidden="true">Next</span></a>
              </li>
            {% endif %}
          </ul>
        </nav>
        
        
    </form>
{% endblock content %}