<meta charset="UTF-8">
{% extends "base.html" %}
{% block title %}

	{{news_content.title}}

{% endblock %}

{% block content %}

	<h1 class='page-title mt-5 text-center'>{{ news_content.title}}</h1>
	
	<div class="form-group col-xl-5 col-md-6 mt-5 mx-auto text-center" >
		<table>
			<tr>
				<td style="width:300px; height:40px; padding: 20px; border: 1px solid black; valign=top;">發布時間</td>
				<td style="width:800px; height:40px; padding: 20px; border: 1px solid black;">{{ (news_content.dateTime | string)[:16] }}</td>
			</tr>
			<tr>
				<td style="padding: 20px; height:300px;border: 1px solid black;">內容</td>
				<td style="padding: 30px; height:300px;border: 1px solid black; vertical-align:text-top; text-align:left;white-space: pre ">{{ news_content.content}}</td>
				
			</tr>

		</table>
   	</div>

   	<div class="mb-4 text-center">
   		<button class="btn btn-primary"><a class="text-white" href="../news">回上頁</a></button>
	</div>

{% endblock %}