<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">
        <img src="../../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        LIS輪值系統
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
        <a class="btn btn-light mr-md-3 mt-md-0 mt-1 mr-1" href="#" role="button">Login</a>
        <a class="btn btn-outline-light mt-md-0 mt-1" href="signup" role="button">Sign up</a>
    </div>
</ul>
</nav>