<!DOCTYPE html>
<html lang="zh-TW">
{% block head %}
<head>
    <link rel="icon" type="image/png" href="../static/../static/images/logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/open-iconic-bootstrap.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
</head>
{% endblock head %}
<body class="bg-light">
    {% if session['logged_in'] == True and session['role'] == 'User' %}
        {% include "user/_navbar_logged_in.html" %}
    {% elif session['logged_in'] == True and session['role'] == 'Admin' %}
        {% include "admin/_adnavbar.html" %}
    {% else %}
        {% include "_navbar.html" %}
    {% endif %}
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="footer bg-secondary text-light">
        <p class="footer_text text-center py-3 mx-3">
            &copy 2019 系學會系館股＠輔大圖資. Created by 
            <a class="sirla_link" href="https://sirla-fjulis.github.io/">
                <img src="../../static/images/SIRLA_Logo_50X48.png" width="22" height="22" class="align-text-bottom d-inline-block" alt="">SIRLA
            </a>
        </p>
    </footer>
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock script %}
</body>
</html>